*{
    box-sizing: border-box; 
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.page{
    background-color: bisque;
}
.header{
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.urls{
    text-align: center;
    align-content: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.post_item{
    list-style: none;
    border: solid black 1px;
}
.post_title{
    padding: 1em 1em;
    font-size: 17px;
    font-weight: bold;
}
.post_date{
    padding: 1em;
    font-size: 14px;
}
.post_content{
    padding: 1em;
    font-size: 20px;
}
.btn{
    background-color: green;
    color: white;
    border-radius: 5px;
    padding: 0.5rem;
    text-decoration:none
}
.btn:hover{
    background-color: blue;
}
.form{
    padding: 1rem
}